/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* html {
    color-scheme: dark light;
} */

/* body {
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
} */

/* :root {
    --diagonalFirst: #c0cbcd;
    --diagonalSecond: #80cd9f;
    --diagonalThird: #37cf6b;
    --funnelMain: #37cf6b;
    --funnelMainHover: #2aa053;

    COPIED VARIABLES
    --contact-bkg: #292B2F;
    --contact-bkg-lighter: #33373F;
} */

/* input[type='checkbox']:checked+label {
    transition: all 500ms ease;
    background-color: var(--funnelMain);
    color: white;
    border-color: var(--funnelMain);
} */

.quoteBtn {
    display: inline-block;
    padding: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--funnelMain);
    color: white;
    border: 2px solid var(--funnelMain);
    border-radius: 0.5rem;
    margin: 0.75rem;
    font-weight: 300;
    transition: 0.5s;
}

.quoteBtn:hover {
    background-color: var(--funnelMainHover);
}

.mainQuoteBtn {
    display: inline-block;
    padding: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid var(--funnelMain);
    border-radius: 0.5rem;
    font-weight: 300;
    transition: 0.5s;
    margin: 0 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.mainQuoteBtn:hover {
    background-color: var(--funnelMain);
}

.bgContact {
    background-color: #292B2F;
    color: white;
}

.diagonal {
    --skew-angle: -3deg;
    --background: linear-gradient(45deg,
            var(--diagonalFirst),
            var(--diagonalSecond),
            var(--diagonalThird));
    text-align: left;
    padding: 3rem 1rem 5rem 1rem;
    text-align: center;
    margin: -7vh auto 0 auto;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagonal::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}

.diagonalP {
    max-width: 90vw;
    margin: auto;
}

@media screen and (min-width: 450px) {
    .diagonalP {
        max-width: 60vw;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 880px) {
    .diagonal {
        padding: 4rem 5rem 6rem 4rem;
    }
}

/* CARD STYLING */

.cards {
    padding-top: 15vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    box-shadow: 0 0 10px 5px rgb(213, 213, 213);
    width: 90%;
    z-index: 0;
    border-radius: 1rem;
    margin: 1em auto;
    position: relative;
}

@media screen and (min-width: 450px) {
    .card {
        max-width: 420px;
    }
}

@media screen and (min-width: 880px) {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .cards {
        flex-direction: row;
        justify-content: center;
    }
}

.card h2 {
    margin: 1rem auto 0 auto;
    letter-spacing: 2;
    font-weight: 600;
}

.cardHeader {
    position: absolute;
    width: 100%;
    background-color: #636364c4;
    top: 1rem;
    z-index: 5;
}

.checklist {
    list-style: none;
    flex-grow: 1;
    display: inline-block;
    padding-left: 0;
    font-size: 1.1rem;
    font-weight: 300;
    width: 95%;
}

.serviceHeadingLink {
    display: block;
    margin-bottom: 0.25rem;
    text-decoration: none;
    font-size: 1.75em;
    font-weight: 600;
    padding-top: 0.25rem;
    color: white;
}

.service-heading-link:hover {
    color: gray;
}

.popularImg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
    height: 350px;
}

.checklistItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px
}

.checklistItem p {
    display: inline-block;
    margin: 0;
    text-align: left;
}

.popularReadmore {
    display: inline-block;
    padding: 0.75em 10%;
    margin-bottom: 0.75rem;
    background-color: var(--funnelMain);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.popularReadmore:hover {
    background-color: var(--funnelMainHover);
}

.price {
    color: lightgray;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 0;
}

.price span {
    display: inline-block;
    font-weight: 500;
    margin: 0;
    color: white;
    text-decoration: underline;
}

.checkcircle {
    color: var(--funnelMain);
    flex: 0 0 auto;
    margin-right: 0.5rem;
}

@media screen and (min-width: 450px) {
    .popularImg {
        height: 375px;
    }
}

@media screen and (min-width: 880px) {
    .popularImg {
        height: 450px;
    }

    .popularReadmore {
        margin: 0 auto 1rem auto;
    }
}

/* FORM SECTION */
.contactContainer {
    margin: 20vh auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.contactPhoto {
    width: 85vw;
    height: 240px;
    background-position: center;
    background-size: cover;
}

.form {
    width: 85vw;
}

.formContainer {
    background-color: #3a3c3f;
    width: 85vw;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    text-align: left;
}

.formContainer div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.25rem;
    padding-bottom: 1rem;
}

.textInput {
    background-color: #2A2631;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    text-align: left;
    width: 100%;
}

.textarea {
    width: 100%;
    height: 125px;
    padding: 0.25rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #2A2631;
    color: white;
}

.textInputLabel {
    margin-top: 1rem;
}

.selectField {
    display: flex;
    flex-direction: column;
}

.checkboxLabel {
    transition: all 500ms ease;
    color: black;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    border: solid 2px #7d7d7d;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    margin-top: 0.25rem;
}

.checkboxLabel:checked {
    transition: all 500ms ease;
    background-color: var(--funnelMain);
    color: white;
    border-color: var(--funnelMain);
}

.submitButton {
    padding: 0.75rem 2rem;
    font-size: 1.3em;
    background-color: var(--contact-bkg-lighter);
    color: white;
    border: solid 2px #7d7d7d;
    border-radius: 15px;
    margin-top: 0.5rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--contact-bkg);
    border: 2px solid gray;
}

@media screen and (min-width: 880px) {
    .formContainer {
        border-radius: 1rem 0 0 1rem;
        width: 60vw;
    }

    .form {
        width: 60vw;
    }

    .contactContainer {
        width: 90vw;
        margin: 10vh auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contactPhoto {
        width: 30vw;
        height: 690px;
        border-radius: 0 1rem 1rem 0;
    }
}

/* REVIEW SECTION STYLING */
.reviewsContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10vh auto 10vh auto;
    gap: 2rem;
}

.reviewCard {
    background-color: #3a3c3f;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
}

.reviewTop {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.reviewBottom {
    padding: 1rem;
}

.profile {
    position: absolute;
    top: -40px;
    left: 7%;
    font-size: 5rem;
}

.name {
    font-size: 1.3em;
}

.review {
    color: gold;
    font-size: 1.2em;
    margin-left: auto;
}

.servicesP {
    text-align: left;
    padding-left: 0.5rem
}

.cardHr {
    border-top: 1px solid white;
    width: 90%;
    margin: 0 auto;
    opacity: 0.5;
}

@media screen and (min-width: 880px) {
    .reviewsContainer {
        flex-direction: row;
        gap: 1rem;
    }

    .reviewCard {
        width: 390px;
    }

    .name {
        font-size: 2.3em;
    }
}

/* FAQ STYLING */
.faqContainer {
    margin-top: 5vh;
}

.faqIcon {
    font-size: 3.5em;
}

.faqCaret {
    font-size: 3.5em;
    margin-left: auto;
    color: var(--funnelMain);
}

.faqUl {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95vw;
    margin: 0 auto;
    padding-left: 0;
}

.liContainer {
    padding: 1.5rem;
    background-color: #3a3c3f;
    border-radius: 2rem 0;
    text-align: left;
}

.liTop {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.262);
    padding-bottom: 1rem;
    cursor: pointer;
}

.liTop:last-child {
    margin-left: auto;
}

.faqQ {
    text-align: center;
}

.faqP {
    transition: ease 0.5s;
    letter-spacing: 1px;
    font-size: 1.2em;
    padding-left: 2rem;
}

@media screen and (min-width: 880px) {
    .faqUl {
        width: 70vw;
    }

    .faqQ {
        font-size: 1.5em;
    }

    .faqIcon {
        font-size: 2em;
    }

    .faqCaret {
        font-size: 2em;
        color: var(--funnelMain);
    }
}

/* GALLERY PAGE STYLING */

.photoGrid {
    display: grid;
    gap: 1rem;
    width: 90%;
    margin: 0 auto 10vh auto;
    padding-top: 2rem;

    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.photoCard {
    background-position: center;
    background-size: cover;
    transition: 0.5s ease;
    border-radius: 1rem;
}

.photoCard:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 880px) {
    .photoGrid {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        grid-auto-rows: 360px;
    }
}

/* OTHER CSS */

.cover {
    filter: brightness(25%) grayscale(65%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 90vh;
    width: 100%;
    z-index: 0;
}

.servicepageHeader {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    color: white;
    width: 100%;
    transform: translate(0, -82vh);
    z-index: 1;
}

.headerLogo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 220px;
    height: 165px;
}

.headerCert {
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

/* .quoteBtn {
    display: inline-block;
    padding: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid var(--funnelMain);
    border-radius: 0.5rem;
    font-weight: 300;
    transition: 0.5s;
    margin: 0 2.5rem;
    animation: 2s ease-in-out serviceButton;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.quoteBtn:hover {
    background-color: rgba(255, 255, 255, 0);
} */

.bottomCTA {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.callButton {
    font-size: 1.2em;
}

.callIcon {
    font-size: 0.9em;
}

.pageSubheading {
    font-size: 1.5rem;
    width: 90vw;
    font-weight: 400;
    margin: 0 auto;
}

@media screen and (min-width: 880px) {
    .pageSubheading {
        width: 70vw;
    }

    .servicepageHeader {
        gap: 3rem;
    }

    .headerLogo {
        width: 400px;
        height: 300px;
    }
}

/* HELPER CLASSES */

.textXl {
    font-size: 3em;
    margin-bottom: 0;
}

.strikethrough {
    text-decoration: line-through;
    color: rgb(111, 111, 111);
}

.subtext {
    color: gray;
}

.specialPackage {
    color: var(--funnelMain);
}

.extraSpace {
    margin: 1rem auto;
}

.bold {
    text-decoration: underline;
    font-weight: 600;
}