:root {
  /** Backgrounds and other colors **/
  --contact-bkg-clr: #252525;
  --contact-bkg-clr-light: #cecfd5;
  --nav-bkg-clr: #101010;
  --nav-color: #636364;
  --boxshadow-clr: rgb(213, 213, 213);
  --footer-bkg: #060606;

  --contact-bkg: #292B2F;
  --contact-bkg-lighter: #33373F;
  /* 35373D - Slightly lighter ^ */

  /** Button colors **/
  --main-clr: #c83f03;
  --main-clr-hover: #91350e;
  --quote-clr: #1D96ED;

  /** Text and smaller colors **/
  --supporting-text: #6B6B6B;
  --secondary-text: #575757;
  --heading-clr1: #fff;
  --heading-clr2: rgb(185, 185, 185);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  width: 95vw;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#popular-services {
  margin-top: 10rem;
}

.App {
  text-align: center;
}

.App-header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.subtext {
  margin-top: 0;
  font-weight: 300;
  color: var(--supporting-text)
}

.logo {
  margin-left: 1rem;   
}

.menu-bars {
  color: white;
  margin-right: .5em;
  font-size: 1.5rem;
}

.dd-desc {
  font-weight: 300;
  line-height: 2;
  margin: 0 auto;
  max-width: 90vw;
}

.nav-quote-btn {
  display: inline-block;
  padding: 0 0.35rem;
  text-decoration: none;
  background-color: var(--main-clr);
  color: white;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin-top: 5px;
  transition: 1s
}

.nav-quote-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  outline: 1px solid var(--main-clr);
}

.quote-btn {
  display: inline-block;
  padding: 0.75rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--main-clr);
  color: white;
  border: 2px solid var(--main-clr);
  border-radius: 0.5rem;
  margin: 0.75rem;
  font-weight: 300;
  transition: 0.75s;
}

.quote-btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

.top-quote-btn {
  margin: 0;
  color: white;
}

.main-quote-btn {
  margin-bottom: 3rem;
}

.main-quote-btn:hover {
  color: black;
}

@keyframes serviceButton{
  0% {
    font-size: 1.5rem;
    padding: 0.6rem
  }

  50% {
    font-size: 1.8rem;
    padding: 1rem;
  }

  100% {
    font-size: 1.5rem;
    padding: 0.75rem
  }
}

.service-page-quote-btn {
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  margin: 0 auto;
  animation: 2s ease-in-out serviceButton;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.service-page-quote-btn:hover {
  background-color: var(--main-clr)
}

/** Navigation CSS **/
nav {
  width: 100%;
  padding-left: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bkg-clr);
}

li span {
  padding: 0 3px 0 2px;
}

.menu-container {
  position: absolute;
  text-align: left;
  padding: 1rem;
  width: 350px;
  height: 90vh;
  line-height: 2.5;
  background-color: var(--nav-bkg-clr);
  top: 80px;
  right: 0;
  overflow: scroll;
}

.main-ul {
  list-style: none;
  padding-left: 0;
}

.sub-ul {
  opacity: 0;
  will-change: opacity;
  list-style: none;
  padding-left: 0;
}

.menu-li {
  cursor: default;
  color: white;
  margin: 0;
}

.menu-li:hover {
  color: var(--nav-color);
}

.nav-div {
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: var(--nav-bkg-clr);
}

.nav-div li {
  margin-left: 1rem;
}

.sub-menu-li {
  margin: 0;
  cursor: pointer
}

.sub-menu-li a .menu-link {
  margin-left: 20;
  color: white;
}

.menu-link:hover {
  color: var(--nav-color);
}

.sub-menu-header {
  color: whitesmoke;
  font-weight: bold;
  margin: 0;
}

.menu-link {
  margin: 0;
  text-decoration: none;
  color: white;
}

/** Home Page Header CSS **/
header h1 {
  margin: 0;
}

.home-header {
  position: relative;
  color: white;
}

.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.header-icons-container div {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "icon desc"
                       "icon myspan";
  margin-bottom: 2rem; 
  width: 190px;
  text-align: left;
}

.header-icon {
  color: var(--main-clr);
  font-size: 3em;
  display: inline;
  grid-area: icon;
}

.header-desc {
  font-size: 2em;
  margin: 0;
  display: inline;
  grid-area: desc
}

.header-desc-span {
  font-size: 0.8em;
  grid-area: myspan
}

.title-top {
  margin-top: 0;
  padding-top: 1em;
  font-size: 2.5em;
  font-weight: 300;
  color: var(--heading-clr1);
}

.title-bottom {
  color: var(--main-clr);
  font-weight: 600;
}

.maincover {
  filter: brightness(20%) grayscale(65%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.cover {
  filter: brightness(25%) grayscale(65%);
  position: absolute;
  height: 75%;
  width: 100%;
  z-index: 0;
}

/** Contact Page CSS **/

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked + label {
  transition: all 500ms ease;
  background-color: var(--main-clr);
  color: white;
  border-color: var(--main-clr);
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: var(--contact-bkg);
}

.contact-container-right {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.form {
  width: 100%;
}

.form-section {
  background-color: var(--contact-bkg-lighter);
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  text-align: left;
}

.form-top-section {
  text-align: center;
}

.form-section div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.form-section-heading {
  margin-bottom: 0.5rem;
}

.text-input {
  background-color: #2A2631;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  text-align: left;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 125px;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2A2631;
  color: white;
}

.text-input-label {
  margin-top: 1rem;
}

.checkbox-label {
  transition: all 500ms ease;
  color: black;
  cursor: pointer;
  border-radius: 50px;
  background-color: #fff;
  border: solid 2px #7d7d7d;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin-top: 0.25rem;
}

.contact-information-container {
  padding-top: 2rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--contact-bkg-lighter);
  width: 90vw;
  max-width: 360px;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2rem 0.75rem;
}

.contact-information h1 {
  text-decoration: underline;
  margin-top: 0;
}

.contact-border {
  margin: 0;
  opacity: 0.4;
  width: 100%;
}

.contact-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.contact-icon {
  font-size: 1.5em;
}

.contact-link {
  color: white;
  margin: 0.25em;
}

.submit-button {
  padding: 0.75rem 2rem;
  font-size: 1.3em;
  background-color: var(--contact-bkg-lighter);
  color: white;
  border: solid 2px #7d7d7d;
  border-radius: 15px;
  margin-top: 0.5rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--contact-bkg);
  border: 2px solid gray;
}

.footer-contact-link {
  display: inline-block;
  margin: 12px 0 0 6px; 
}

.location-link {
  line-height: 1.5s
}

/** Home Page Services CSS **/
.popular-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
}

.popular-services-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  z-index: 0;
  border-radius: 1rem;
  margin: 1em 0;
  position: relative;
}

.popular-services-card h2 {
  margin: 1rem auto 0 auto; 
  letter-spacing: 2; 
  font-weight: 600;
}

.popular-services-header {
  position: absolute;
  width: 100%;
  background-color: #636364c4;
  top: 1rem;
  z-index: 5;
}

.service-heading-link {
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 600;
  color: black;
}

.service-heading-link:hover {
  color: gray;
}

.popular-service-title {
  padding-top: 0.25rem;
  color: white;
}

.popular-service-title:hover {
  color: lightgray;
}

.popular-desc {
  padding: 0 1em;
}

.popular-img {
  position: relative;
  border-radius: 1rem 1rem 0 0;
  height: 350px;
}

.checklist {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 300;
  width: 95%;
}

.checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px
}

.checklist-item p {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.checkcircle {
  color: var(--main-clr);
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.price {
  color: lightgray;
  display: inline-block;
  margin-top: 0;
}

.price span {
  display: inline-block;
  font-weight: 500;
  margin: 0;
  color: white;
}

.service-heading {
  font-size: 1.5em;
  line-height: 1.5;
}

.otherservices-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.otherservices-container h1 {
  font-size: 2em;
  text-decoration: underline;
}

.otherservices-image {
  border-radius: 1rem 1rem 0 0;
  height: 255px;
  object-fit: cover
}

.otherservices-desc {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  padding: 1rem;
}

.separator-container {
  background-color: var(--contact-bkg-clr);
  padding: 2rem 0;
}

.separator-container p {
  margin-top: 0;
  color: var(--supporting-text);
}

.service-title {
  font-size: 2em;
  color: var(--heading-clr1);
  margin: 30px 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 1rem;
  margin: 20px 0;
}

.service-desc {
  color: var(--secondary-text);
}

.card-hr {
  border-top: 1px dashed black;
  border-bottom: none;
  width: 112%;
  margin-left: -6%
}

.secondary-text {
  display: inline-block;
  color: var(--secondary-text);
  padding: 0;
  margin: 0;
}

.secondary-text span {
  color: var(--main-clr);
}

.readmore {
  display: inline-block;
  color: var(--main-clr);
  padding-right: 2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  width: auto;
}

.readmore:hover {
  color: var(--main-clr-hover);
}

.readmore p {
  margin: 0;
}

.popular-readmore {
  display: inline-block;
  padding: 0.75em 10%;
  margin-bottom: 0.75rem;
  background-color: var(--main-clr);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.popular-readmore:hover {
  background-color: var(--main-clr-hover);
}

/** Home Page Review CSS **/
.reviews-container {
  width: 100%;
}

.review-carousel {
  user-select: none;
  padding: 2em;
  font-size: 1.25rem;
  line-height: 1.75;
  width: 97vw;
  margin: 0 auto;
}

.review-carousel div {
  padding: 1em 0;
}

.reviewer {
  font-size: 1.25em;
  font-weight: bold;
}

.serviceareas-container h2 {
  margin-bottom: 0.5rem;
}

.cities {
  margin: 0;
  color: var(--secondary-text);
}

.cookie-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cookie-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-clr);
  border-radius: 0.75rem;
  font-size: 1em;
  cursor: pointer;
  color: white;
  padding: 0.5rem 0.75rem;
  transition: 0.25s ease-in;
}

.cookie-button:hover {
  background-color: var(--main-clr);
}

.cookie-button:first-of-type {
  margin-right: 1rem;
}

/** Footer CSS **/
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px 0 15px;
  background-color: var(--contact-bkg-clr);
  color: white;
}

hr {
  width: 100%;
  margin-top: 1.5em;
}

.footer-content-card {
  margin-left: 1rem;
}

.socials-container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials {
  font-size: 2em;
  color: white;
}

.socials-container div a {
  margin-right: 20px
}

.footer-link {
  display: block;
  text-decoration: none;
  color: lightgray;
  margin-top: 1.25rem;
}

.footer-link:hover {
  color: rgb(246, 246, 246);
  text-decoration: underline;
}

/** ABOUT US CSS **/

.about-header {
  padding-top: 25vh;
  color: white;
}

.about-container {
  margin-top: 39vh;
  max-width: 80vw;
  color: black;
}

.about-container h2 {
  font-size: 3em;
}

.faq-ul {
  text-align: left;
  letter-spacing: 1.2;
  padding-left: 0;
  margin-bottom: 8vh;
}

.faq-li {
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
}

/** SIDE PAGE CSS **/
.servicepage-header {
  position: relative;
  color: var(--heading-clr1);
  font-size: 2em;
  padding-top: 20vh;
  margin: 0 auto 40vh auto;
  z-index: 1;
}

.servicepage-heading {
  font-size: 2em;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5vh;
}

.content-container header {
  color: white;
  margin: 25vh auto;
}

.gallery-container {
  width: 90vw;
  margin: 0 auto;
  column-count: 1;
  line-height: 2rem;
  column-gap: 1rem;
}

.gallery-image-div {
  width: 100% !important;
  height: auto !important;
}

.gallery-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.gallery-content-container header {
  z-index: 1;
  color: white;
  margin: 25vh auto;
}

.gallery-link {
  color: var(--main-clr);
}

.service-content-container {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0.5rem;
}

.item {
  background-color: var(--contact-bkg-clr);
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5em;
}

.step-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-container {
  text-align: left;
}

.step-number {
  display: inline;
  font-size: 2em;
  margin: 0.5rem;
}

.step-title {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0.5rem 0 0 0;
}

.step-desc{
  display: inline;
  font-weight: 300;
}

.cleaning-process-title {
  font-size: 2em;
  margin-top: 0;
}

.vertical-rule {
  display: inline;
  outline: 2px solid white;
  height: 100%;
  margin-right: 10px;
}

.main-content-container {
  text-align: center;
}

.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-aside {
  display: none;
  flex-direction: column;
  background-color: var(--contact-bkg-clr-light);
  border-radius: 0.5rem;
  margin: 10px auto;
  width: 275px;
  color: black;
  padding: 1rem;
}

.addons-aside {
  display: block;
}

.addon-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 85vw;
  margin: 0 auto 3rem auto;
}

.internal-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.examples-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.example-img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem
}

.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-img-container {
  margin-top: 1rem;
  max-width: 360px;
}

.combo-container {
  background-color: var(--contact-bkg-clr-light);
  width: 275px;
  margin: 1rem auto 0 auto;
  padding: 0.75rem;
  border-radius: 15px;
}

.feature-desc-area {
  height: 80%;
}

.feature-desc-area div a:last-child {
  padding-right: 0;
}

.service-link {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  padding: 0.5rem;
  background-color: var(--contact-bkg-clr-light);
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.service-link:hover {
  background-color: #d6d7e1 !important;
  color: var(--main-clr);
}

.pricing-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.pricing-title {
  font-size: 2em;
  margin-bottom: 0
}

.pricing-card {
  padding: 0.75rem;
  background-color: var(--contact-bkg-clr);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.pricing-price {
  color: var(--main-clr);
}

.white-text {
  color: white;
}

.fullInt-pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pricing-outline {
  outline: 2px solid white;
  padding: 7px;
  border-radius: 15px;
}

.addon-title {
  margin: 10px 0 0 0;
}

.bold {
  font-weight: bold;
}

.size {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 0 0 0;
  color: white;
}

.example-vehicle {
  color: var(--supporting-text);
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.special-package {
  color: var(--main-clr);
}

.service-checklist {
  background-color: var(--contact-bkg-clr);
  color: white;
  width: 90vw;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0 0 1.2rem 0;
  text-align: left;
}

.service-checklist h4 {
  font-size: 1.2em;
  font-size: 500;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.checklist-title {
  margin: 0;
  font-size: 1.4em;
  padding: 0.5rem;
  background-color: var(--main-clr);
  color: white;
  width: 100%
  border-radius 1rem 1rem 0 0;
}

@media screen and (min-width: 450px) {
  
  #popular-services {
    margin-top: 20rem;
  }
  .popular-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .popular-img {
    height: 375px;
  }

  .popular-services-card {
    max-width: 360px;
  }

  .otherservices-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .service-card {
    max-width: 360px;
  }

  .gallery-container {
    column-count: 2;
  }

  .list {
    width: 90vw;
    margin: 0 auto;
  }
  
  .example-img {
    width: 275px;
  }
}

@media screen and (min-width: 660px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .servicepage-header {
    font-size: 3em;
  }

  .pricing-container {
    flex-direction: row;
  }
  
  .pricing-card {
    width: 300px;
  }
}

@media screen and (min-width: 880px) {
  body {
    font-size: 1.1em;
  }

  #popular-services {
    margin-top: 28vh;
  }

  .nav-div {
    padding: 1.5rem;
  }

  .nav-quote-btn {
    margin-top: 0;
  }

  .landing-div {
    padding-left: 1.5rem;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  }

  .dd-desc {
    margin: 0
  }

  .menu-container {
    background-color: var(--nav-bkg-clr);
  }

  .header-icons-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }

  .title-top {
    padding-top: 3rem;
    line-height: 2;
  }

  .title-bottom {
    margin-bottom: 5rem;
    line-height: 2;
  }

  .contact-information {
    max-width: 650px;
  }

  .contact-container-right {
    max-width: 650px;
  }

  .popular-img {
    height: 450px;
  }

  .popular-container {
    justify-content: space-around;
  }

  .popular-desc {
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }

  .popular-services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .popular-readmore {
    margin: 0 auto 1rem auto;
  }

  .service-aside {
    display: flex;
  }

  .feature-section {
    flex-direction: row;
    gap: 1.5rem;
    text-align: left;
  }

  .combo-container {
    width: 55vw;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .addon-content-container {
    flex-wrap: wrap;
  }

  /** Nav CSS **/
  .menu-container {
    display: inline-block !important;
    flex: 2;
    padding: 0;
    position: static;
    height: auto;
    width: 75vw;
    overflow: hidden;
  }

  .main-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }

  .menu-li {
    position: relative;
  }

  .sub-ul {
    position: fixed;
    top: 65px;
  }

  .menu-bars {
    display: none;
  }

  /** OTHER CSS **/

  .list {
    width: 60vw;
  }

  .main-content-container {
    display: flex;
    flex-direction: column;
  }

  .process-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
    margin: 0 auto;
  }

  .examples-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .service-checklist {
    width: 45vw;
  }

  .gallery-container {
    column-count: 3;
  }

}

@media screen and (min-width: 1350px) {

  .popular-quote-btn {
    margin-right: 3rem;
  }

  .feature-section {
    max-width: 80vw;
  }

  .servicepage-heading {
    font-size: 2.5em;
  }

  .gallery-container {
    column-count: 4;
  }
}

@media screen and (min-width: 2000px) {

  #popular-services {
    margin-top: 45vh;
  }
}
