:root {
  /** Backgrounds and other colors **/
  --contact-bkg-clr: #252525;
  --contact-bkg-clr-light: #cecfd5;
  --nav-bkg-clr: #101010;
  --nav-bkg-clr-transparent: #10101000;
  --nav-color: #636364;
  --boxshadow-clr: rgb(213, 213, 213);
  --footer-bkg: #060606;

  --contact-bkg: #292B2F;
  --contact-bkg-lighter: #33373F;

  /** Button colors **/
  --main-clr: #c83f03;
  --main-clr-hover: #91350e;
  --main-clr-lighter: #ff4d00;
  --quote-clr: #1D96ED;

  /** Text and smaller colors **/
  --supporting-text: #bbb;
  --secondary-text: #575757;
  --heading-clr1: #fff;
  --heading-clr2: rgb(185, 185, 185);
  --text-blue: rgb(59, 158, 255);


  /* TEMPORARY ROOT SELECTORS: */
  --diagonalFirst: #c0cbcd;
  --diagonalSecond: #47ce77;
  --diagonalThird: #37cf6b;
  --funnelMain: #37cf6b;
  --funnelMainHover: #208945;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  width: 95vw;
  margin: auto;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.subtext {
  margin-top: 0;
  font-weight: 300;
  color: var(--supporting-text)
}

.logo {
  margin-left: 1rem;
}

.menu-bars {
  color: white;
  margin-right: .5em;
  font-size: 1.5rem;
}

.dd-desc {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2;
  margin: 0 auto;
  max-width: 90vw;
  display: none;
}

.nav-quote-btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.35rem;
  text-decoration: none;
  background-color: var(--main-clr);
  color: white;
  border-radius: 0.5rem;
  transition: 0.5s;
  margin-top: 5px;
}

.nav-quote-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  outline: 1px solid var(--main-clr);
}

.nav-hr {
  margin: 0;
  opacity: 0.4;
  width: 100%;
}

.quote-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--main-clr);
  color: white;
  border: 2px solid var(--main-clr);
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: 0.5s;
  max-width: 260px;
}

.quote-btn:hover {
  background-color: rgba(255, 255, 255, 0);
}

.top-quote-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--main-clr);
  color: white;
}

.top-quote-btn:hover {
  background-color: var(--main-clr);
}

.main-quote-btn {
  margin-bottom: 3rem;
}

.main-quote-btn:hover {
  color: black;
}

.side-quote-btn:hover {
  color: white
}

@keyframes serviceButton {
  0% {
    font-size: 1.5rem;
    padding: 0.6rem
  }

  50% {
    font-size: 1.8rem;
    padding: 1rem;
  }

  100% {
    font-size: 1.5rem;
    padding: 0.75rem
  }
}

.service-page-quote-btn {
  margin: 0 2.5rem;
  animation: 2s ease-in-out serviceButton;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.service-page-quote-btn:hover {
  background-color: var(--main-clr)
}

/** Navigation CSS **/
nav {
  width: 100%;
  padding-left: 1.25rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bkg-clr-transparent);
}

li span {
  padding: 0 3px 0 2px;
}

.menu-container {
  position: absolute;
  text-align: left;
  padding: 1rem;
  width: 350px;
  height: 90vh;
  line-height: 2.5;
  background-color: var(--nav-bkg-clr);
  top: 80px;
  right: 0;
  overflow: scroll;
}

.main-ul {
  list-style: none;
  padding-left: 0;
}

.sub-ul {
  opacity: 0;
  list-style: none;
  padding-left: 0;
}

.menu-li {
  cursor: default;
  color: white;
  font-size: 1.2em;
  margin: 0;
}

.menu-li:hover {
  color: var(--nav-color);
}

.quote-li {
  position: absolute;
  top: 0;
  right: 37%;
}

.nav-div {
  padding: 0 0.75rem 0.75rem 0.75rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--nav-bkg-clr);
}

.nav-div li {
  margin-left: 0.75rem;
}

.sub-menu-li {
  margin: 0;
  cursor: pointer
}

.sub-menu-li a .menu-link {
  margin-left: 20px;
  color: white;
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2em;
  gap: 0.5rem;
  margin: 0;
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  color: var(--nav-color);
}

.sub-menu-header {
  color: whitesmoke;
  font-weight: bold;
  margin: 0;
}

/** Home Page Header CSS **/
header h1 {
  margin: 0;
}

.home-header {
  position: relative;
  color: white;
}

.landing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  min-height: 90vh;
}

.header-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.header-icons-container div {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "icon desc"
    "icon myspan";
  margin-bottom: 2rem;
  width: 190px;
  text-align: left;
}

.header-icon {
  color: var(--main-clr);
  font-size: 3em;
  display: inline;
  grid-area: icon;
}

.header-desc {
  font-size: 2em;
  margin: 0;
  display: inline;
  grid-area: desc
}

.header-desc-span {
  font-size: 0.8em;
  grid-area: myspan
}

.title-top {
  margin-top: 4.5rem;
  font-size: 2.5em;
  font-weight: 300;
  color: var(--heading-clr1);
}

.title-bottom {
  color: var(--main-clr);
  font-weight: 600;
}

.maincover {
  filter: brightness(20%) grayscale(65%);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  z-index: -5;
}

.cover {
  filter: brightness(25%) grayscale(65%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 90vh;
  width: 100%;
  z-index: 0;
}

.coating-cover {
  position: absolute;
  height: 75%;
  width: 100%;
  z-index: 0;
}

.coating-heading {
  margin-bottom: 0;
  font-size: 2em;
}

/** Contact Page CSS **/

input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked+label {
  transition: all 500ms ease;
  background-color: var(--main-clr);
  color: white;
  border-color: var(--main-clr);
}

input[type='checkbox']:checked+label .special-package {
  color: white;
}

input[type='checkbox']:disabled+label {
  color: gray;
  cursor: default;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

option {
  padding: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
  background-color: var(--contact-bkg);
}

.contact-container-right {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.form {
  width: 100%;
}

.form-section {
  background-color: var(--contact-bkg-lighter);
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  text-align: left;
}

.form-top-section {
  text-align: center;
}

.form-section div, .form-section form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding-bottom: 1rem;
}

.form-section-heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-input {
  background-color: #2A2631;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  text-align: left;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 125px;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2A2631;
  color: white;
}

.text-input-label {
  margin-top: 1rem;
}

.select-field {
  display: flex;
  flex-direction: column;
}

.year-input {
  width: 80px;
}

.make-input {
  width: 125px;
}

.model-input {
  width: 150px;
}

.checkbox-label {
  transition: all 500ms ease;
  color: black;
  cursor: pointer;
  border-radius: 50px;
  background-color: #fff;
  border: solid 2px #7d7d7d;
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin-top: 0.25rem;
}

.contact-information-container {
  padding-top: 15rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: var(--contact-bkg-lighter);
  width: 90vw;
  max-width: 360px;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2rem 0.75rem;
}

.contact-information h1 {
  text-decoration: underline;
  margin-top: 0;
}

.contact-border {
  margin: 0;
  opacity: 0.4;
  width: 100%;
}

.aside-border {
  opacity: 0.6;
  width: 95%;
  margin: 1rem auto;
}

.contact-icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-icon-container p {
  flex-shrink: 5;
}

.contact-icon {
  font-size: 1.5em;
}

.contact-link {
  color: white;
  margin: 0.25em;
}

.submit-button {
  padding: 0.75rem 2rem;
  font-size: 1.3em;
  background-color: var(--contact-bkg-lighter);
  color: white;
  border: solid 2px var(--main-clr);
  border-radius: 15px;
  margin-top: 0.5rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--contact-bkg);
  border: 2px solid gray;
}

.footer-contact-link {
  display: inline-block;
  margin: 0
}

.bbb-seal {
  border: 0;
  width: 85%;
}

.location-link {
  line-height: 1.5s;
}

/** Home Page Services CSS **/
.popular-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
}

.popular-services-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  width: 90%;
  z-index: 0;
  border-radius: 1rem;
  margin: 1em auto;
  position: relative;
}

.popular-services-card h2 {
  margin: 1rem auto 0 auto;
  letter-spacing: 2;
  font-weight: 600;
}

.popular-services-header {
  position: absolute;
  width: 100%;
  background-color: #636364c4;
  top: 1rem;
  z-index: 5;
}

.service-heading-subtitle {
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 600;
}

.service-heading-link {
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 600;
  color: black;
}

.service-heading-link:hover {
  color: gray;
}

.popular-service-title {
  padding-top: 0.25rem;
  color: white;
}

.popular-service-title:hover {
  color: lightgray;
}

.popular-desc {
  padding: 0 1em;
}

.popular-img {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem 1rem 0 0;
  height: 350px;
}

.page-subheading {
  font-size: 1.5rem;
  width: 90vw;
  font-weight: 400;
  margin: 0 auto 2rem auto;
}

.coating-contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.coating-faq {
  text-align: left;
}

.package-icon {
  font-size: 3em;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.package-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  text-align: center;
  margin: 3rem auto 0 auto;
  gap: 1rem;
}

.package-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.maintenance-costs {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.checklist {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 300;
  width: 95%;
}

.checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px
}

.checklist-item p {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.checkcircle {
  color: var(--main-clr);
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.price {
  color: lightgray;
  display: inline-block;
  margin-top: 0;
}

.price span {
  display: inline-block;
  font-weight: 500;
  margin: 0;
  color: white;
}

.service-heading {
  font-size: 1.5em;
  line-height: 1.5;
}

.otherservices-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.otherservices-container h1 {
  font-size: 2em;
  text-decoration: underline;
}

.otherservices-image {
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  object-fit: cover
}

.otherservices-desc {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding: 1rem;
}

.separator-container {
  background-color: var(--contact-bkg-clr);
  padding: 2rem 0;
}

.separator-container p {
  margin-top: 0;
  color: var(--supporting-text);
}

.service-title {
  font-size: 2em;
  color: var(--heading-clr1);
  margin: 30px 0;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 1rem;
  width: 90%;
  margin: 1rem auto;
}

.service-desc {
  color: #1c1c1c
}

.card-hr {
  border-top: 1px dashed black;
  border-bottom: none;
  width: 112%;
  margin-left: -6%
}

.secondary-text {
  display: inline-block;
  color: var(--secondary-text);
  padding: 0;
  margin: 0;
}

.secondary-text span {
  color: var(--main-clr);
  font-size: 1.3em;
}

.readmore {
  display: inline-block;
  color: var(--main-clr);
  padding-right: 2em;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  width: auto;
}

.readmore:hover {
  color: var(--main-clr-hover);
}

.readmore p {
  margin: 0;
}

.popular-readmore {
  display: inline-block;
  padding: 0.75em 10%;
  margin-bottom: 0.75rem;
  background-color: var(--main-clr);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.popular-readmore:hover {
  background-color: var(--main-clr-hover);
}

/** Home Page Review CSS **/
.reviews-container {
  width: 80%;
}

.review-carousel {
  user-select: none;
  padding: 2em;
  font-size: 1.25rem;
  line-height: 1.75;
  width: 97vw;
  margin: 0 auto;
}

.review-carousel div {
  padding: 1em 0;
}

.reviewer {
  font-size: 1.25em;
  font-weight: bold;
}

.mobileservices-container {
  width: 100%;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--contact-bkg);
  color: white;
}

.map {
  width: 250px;
  height: 300px;
  margin: 0 auto;
}

.cities-ul {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.cities-ul li {
  color: var(--text-blue);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
  outline: 1px solid white;
}

.cities-ul li a {
  text-decoration: none;
}

.cookie-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cookie-button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--main-clr);
  border-radius: 0.75rem;
  font-size: 1em;
  cursor: pointer;
  color: white;
  padding: 0.5rem 0.75rem;
  transition: 0.25s ease-in;
}

.cookie-button:hover {
  background-color: var(--main-clr);
}

.cookie-button:first-of-type {
  margin-right: 1rem;
}

/** Footer CSS **/
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px 0 15px;
  background-color: var(--contact-bkg-clr);
  color: white;
}

hr {
  width: 100%;
  margin-top: 1.5em;
}

.footer-content-card {
  margin-left: 1rem;
}

.footer-content-card a {
  display: block;
}

.socials-container {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials {
  font-size: 2em;
  color: white;
}

.socials:hover {
  color: gray;
}

.socials-container div a {
  margin-right: 20px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: lightgray;
  margin-top: 1.25rem;
}

.footer-link:hover {
  color: rgb(246, 246, 246);
  text-decoration: underline;
}

.footer-contact-link {
  margin-top: 1.25rem;
}

/** ABOUT US CSS **/

.about-header {
  padding-top: 25vh;
  color: white;
}

.about-container {
  max-width: 80vw;
  color: white;
}

.about-container h2,
.about-container h3 {
  font-size: 3em;
}

.header-cert {
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.faq-ul {
  text-align: left;
  letter-spacing: 1.25px;
  padding-bottom: 8vh;
  margin-bottom: 0;
}

.faq-li {
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
}

.faq-p {
  list-style: none;
  margin: 1rem 0 3rem 0;
  line-height: 2;
  color: var(--supporting-text);
}

/** SIDE PAGE CSS **/
.servicepage-header {
  position: absolute;
  color: var(--heading-clr1);
  width: 100%;
  transform: translate(0, -70vh);
  z-index: 1;
}

.servicepage-header h1 {
  font-size: 2.5em;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 1rem;
  margin: 0 auto;
}

.servicepage-heading {
  position: absolute;
  color: var(--heading-clr1);
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.25em;
  transform: translate(0, 25vh);
  z-index: 1;
}

.servicepage-image {
  height: 100%;
  width: auto;
}

.process-container {
  padding-top: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5vh;
}

.content-container header {
  color: white;
  margin: 25vh auto;
}

.photo-grid {
  display: grid;
  gap: 1rem;
  width: 95%;
  margin: 0 auto;
  padding-top: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  background-position: center;
  background-size: cover;
  transition: 0.5s ease;
  border-radius: 1rem;
}

.card:hover {
  transform: scale(1.1);
}

.photo-grid.service-grid div {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

.gallery-container {
  width: 90vw;
  margin: 0 auto;
  column-count: 1;
  line-height: 3rem;
  column-gap: 1rem;
  gap: 2rem;
}

.gallery-image-div {
  width: 100% !important;
  height: auto !important;
}

.gallery-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
}

.gallery-content-container header {
  z-index: 1;
  color: white;
  margin: 25vh auto;
}

.slider-container {
  position: relative;
  width: 220px;
  height: 500px;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.foreground {
  width: 50%;
}

.slider {
  position: absolute;
  /* -webkit-appearance: none;
  appearance: none; */
  /* visibility: hidden; */
  width: 100%;
  height: 100%;
  background: rgba(#f2f2f2, .3);
  outline: none;
  margin: 0;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider:hover {
  background: rgba(#f2f2f2, .1);
}

/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 600px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 6px;
  height: 600px;
  background: white;
  cursor: pointer;
} */

.slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button:after {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}

.slider-button:before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}

.service-content-container {
  width: 100%;
  background-color: #f7f7ff
}

.list {
  list-style: none;
  padding: 0.5rem;
}

.item {
  background-color: var(--contact-bkg-clr);
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5em;
}

.step-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-container {
  display: flex;
  align-items: center;
  text-align: left;
}

.step-number {
  display: inline;
  font-size: 2em;
  margin: 0.5rem;
}

.step-title {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0.5rem 0 0 0;
}

.step-desc {
  display: inline;
  font-weight: 300;
}

.cleaning-process-title {
  font-size: 2em;
  margin-top: 0;
}

.vertical-rule {
  display: inline;
  outline: 2px solid white;
  height: 100%;
  margin-right: 10px;
}

.main-content-container {
  text-align: center;
}

.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.service-aside {
  display: none;
  flex-direction: column;
  background-color: var(--contact-bkg-clr);
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  margin: 1rem auto;
  width: 350px;
  color: white;
  padding: 1rem;
}

.addons-subheading {
  margin: 0;
  font-size: 2em;
  border-bottom: 3px solid var(--main-clr);
}

.addon-subtext {
  margin-top: 0;
  color: lightgray;
}

.addons-aside {
  text-align: left;
  display: block;
}

.aside-link {
  color: var(--text-blue);
}

.contact-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.extra-addons {
  font-size: 1.5em;
  margin: 0;
  color: white;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.text-blue {
  color: var(--text-blue);
}

.m-0 {
  margin: 0;
  color: lightgray
}

.bold {
  font-weight: bold;
}

.addon-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 85vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.internal-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.examples-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.example-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem
}

.feature-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.feature-img-container {
  margin-top: 1rem;
  max-width: 360px;
}

.combo-container {
  background-color: var(--contact-bkg-clr);
  width: 275px;
  margin: 1rem auto 0 auto;
  padding: 0.75rem;
  border-radius: 15px;
}

.feature-desc-area {
  height: 80%;
}

.feature-desc-area div a:last-child {
  padding-right: 0;
}

.service-link {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  flex-wrap: wrap;
  gap: 1.25rem;
  padding-bottom: 3rem;
}

.pricing-title {
  color: black;
  margin-bottom: 0;
  font-size: 2.25em;
}

.pricing-card {
  background: #fff;
  border-radius: 0.8rem;
  padding: 1rem 3rem;
  box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.pricing-price {
  font-size: 2.5em;
  font-weight: bolder;
  margin: 0;
  overflow-wrap: break-word;
  hyphens: manual;
  padding: 0 0 2.5rem 0
}

.pricing-border {
  border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
}

.pricing-outline {
  outline: 2px solid black;
  padding: 7px;
  border-radius: 15px;
}

.pricing-quote-btn {
  margin: 2rem auto;
  height: 2.6rem;
  width: 13.3rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(135deg,
      var(--main-clr) 0%,
      var(--main-clr-lighter) 100%);
  color: #fff;
  outline: none;
  border: 0;
  font-weight: bold;
}

.pricing-subtext {
  margin-top: 0;
  display: block;
  margin-bottom: 1.2em;
  font-weight: 300;
  color: black;
}

.example-vehicle {
  padding: 1rem;
  margin: 0 auto;
}

.white-text {
  color: white;
}

.fullInt-pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black
}

.outline-padding {
  padding: 1rem;
}

.addon-title {
  font-size: 1.3em;
  color: white;
  margin: 10px 0 0 0;
  display: inline;
}

.size {
  font-size: 1.3em;
  font-weight: 500;
  color: black;
  display: block;
  padding: 1rem 0;
}

.special-package {
  color: var(--main-clr);
}

.service-checklist {
  background-color: var(--contact-bkg-clr);
  color: white;
  width: 90vw;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0 0 1.2rem 0;
  text-align: left;
}

.service-checklist h4 {
  font-size: 1.2em;
  font-size: 500;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.checklist-title {
  margin: 0;
  font-size: 1.4em;
  padding: 0.5rem;
  background-color: var(--main-clr);
  color: white;
  width: 100% border-radius 1rem 1rem 0 0;
}

.service-main {
  width: 80vw;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.1em;
  text-align: center;
}

.service-explain {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
}

.service-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 15vw;
  height: 450px;
  max-width: 600px;
}

/** LOCATION PAGE CSS **/

.location-container {
  width: 100vw;
  min-height: 100%;
}

.location-main {
  width: 80vw;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.1em;
  text-align: center;
}

.locationpage-section {
  background-color: #F5F5F5;
  width: 100%;
  padding: 2rem 1rem;
  line-height: 2;
  font-size: 1.1em;
  text-align: center;
}

.locationpage-gallery-container {
  max-width: 70vw;
  margin: 0 auto;
}

.location-quote-btn {
  padding: 0.5rem;
  margin: 2rem 0 1rem 0;
}

.bg-contact {
  background-color: var(--contact-bkg);
  color: white;
}

.extra-space {
  margin: 1rem auto;
}

.gap-sm {
  gap: 2rem;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-left {
  text-align: left;
}

.place-center {
  place-items: center;
}

.inline {
  display: block;
}

.text-small {
  font-size: 1.5rem;
}

.text-medium {
  font-size: 1.3em;
}

.text-large {
  font-size: 1.7em;
}

.text-xl {
  font-size: 2em;
}

.w-70 {
  width: 70%;
  margin: 0 auto;
}

.no-bg {
  background-color: var(--contact-bkg);
}

.only-bg {
  background-color: #3d3d3d;
  padding: 2rem;
}

.columns-2 {
  columns: 1;
  margin: 0 auto;
}

.new-offer {
  font-size: small;
  position: absolute;
  transform: translate(-10px, -6px) rotate(40deg);
  color: var(--main-clr-lighter);
}

.bbb-footer {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: auto;
  text-overflow: clip;
}

.fixed-height {
  height: 410px;
}

@media screen and (min-width: 450px) {

  .title-top {
    padding-top: 1rem;
    line-height: 2;
  }

  .popular-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .popular-img {
    height: 375px;
  }

  .popular-services-card {
    max-width: 360px;
  }

  .otherservices-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .navigation-small {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: var(--nav-bkg-clr-transparent);
    transform: scale(90%);
    border-radius: 15px;
    transition: 0.4s;
  }

  .service-card {
    max-width: 360px;
  }

  .gallery-container {
    column-count: 2;
  }

  .list {
    width: 90vw;
    margin: 0 auto;
  }

  .example-img {
    width: 275px;
  }

  .center {
    display: grid;
    place-items: center;
  }
}

@media screen and (min-width: 660px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .dd-desc {
    display: block;
  }

  .locationpage-section div {
    max-width: 70vw;
    margin: 0 auto;
  }

  .location-main {
    max-width: 70vw;
  }

  .pricing-container {
    flex-direction: row;
  }

  .pricing-card {
    width: 305px;
  }
}

@media screen and (min-width: 880px) {
  body {
    font-size: 1.1em;
  }

  .nav-div {
    padding: 1.5rem;
  }

  .nav-quote-btn {
    margin-top: 0;
  }

  .nav-hr {
    display: none;
  }

  .coating-points {
    text-align: left;
    columns: 2;
  }

  .cities-ul {
    columns: 2;
  }

  .columns-2 {
    columns: 2;
  }

  .bbb-seal {
    width: 100%;
  }

  .bbb-footer {
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .quote-li {
    position: relative;
    right: auto;
  }

  .landing-div {
    padding-left: 1.5rem;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    font-size: 1.2rem;
  }

  .dd-desc {
    margin: 0
  }

  .menu-container {
    background-color: var(--nav-bkg-clr-transparent);
  }

  .header-icons-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;
  }

  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    gap: 1rem;
  }

  .title-top {
    padding-top: 4rem;
    line-height: 2;
  }

  .title-bottom {
    margin-bottom: 5rem;
    line-height: 2;
  }

  .contact-information {
    max-width: 650px;
  }

  .contact-container-right {
    max-width: 650px;
  }

  .service-explain {
    flex-direction: row;
    align-items: center;
  }

  .aside-container {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: 100vh;
    overflow: auto;
    padding: 0 0.5rem 2rem 0.5rem;
    margin-bottom: 2rem;
  }

  .mobileservices-container {
    flex-direction: row;
    padding: 3rem 1rem;
    justify-content: space-around;
    gap: 4rem;
  }

  .locations {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .location-main {
    letter-spacing: 0.75px;
  }

  .locationpage-section {
    letter-spacing: 0.75px;
  }

  .map {
    width: 500px;
    height: 400px;
  }

  .page-subheading {
    width: 70vw;
  }

  .package-container {
    width: 60vw;
  }

  .servicepage-header h1 {
    font-size: 3em;
  }

  .popular-img {
    height: 450px;
  }

  .popular-container {
    justify-content: space-around;
  }

  .popular-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .popular-services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .popular-readmore {
    margin: 0 auto 1rem auto;
  }

  .service-aside {
    display: flex;
  }

  .feature-section {
    flex-direction: row;
    gap: 1.5rem;
    text-align: left;
  }

  .combo-container {
    width: 55vw;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .addon-content-container {
    flex-wrap: wrap;
  }

  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 360px;
  }

  .slider-container {
    width: 400px;
    height: 600px;
  }

  .servicepage-image {
    width: 20vw;
  }

  /** Nav CSS **/
  .menu-container {
    display: inline-block !important;
    flex: 2;
    padding: 0;
    position: static;
    height: auto;
    width: 75vw;
    overflow: hidden;
  }

  .main-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    width: 100%;
  }

  .menu-li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .sub-ul {
    position: fixed;
    top: 65px;
  }

  .menu-bars {
    display: none;
  }

  /** OTHER CSS **/

  .list {
    width: 60vw;
  }

  .text-center {
    text-align: center;
    padding: 1rem;
  }

  .main-content-container {
    display: flex;
    flex-direction: column;
  }

  .process-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4vw;
    margin: 0 auto;
  }

  .examples-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .service-checklist {
    width: 45vw;
  }

  .gallery-container {
    column-count: 3;
  }

  .large {
    font-size: 2em;
  }

  .inline {
    display: inline;
  }
}

@media screen and (min-width: 1350px) {

  .header-icons-container {
    gap: 10rem;
  }

  .feature-section {
    max-width: 80vw;
  }

  .servicepage-heading {
    font-size: 1.5em;
  }

  .contact-container-right {
    max-width: 800px;
  }

  .contact-information {
    max-width: 800px;
  }

  .slider-container {
    width: 600px;
    height: 800px;
  }

  .sidebyside {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem 5rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
  }

  .sidebyside .list {
    width: 40vw;
  }

  .maintenance-costs {
    justify-content: center;
  }

  .coatingpage-header h1 {
    font-size: 1.3em;
    padding-top: 0.75rem;
    line-height: 1;
  }

  .package-container {
    grid-auto-flow: column;
  }

  .gallery-container {
    column-count: 4;
  }
}

@media screen and (min-width: 2000px) {
  .pricing-container {
    gap: 4rem
  }

  .service-aside {
    width: 400px;
  }

  .extra-space {
    margin: 4rem auto
  }

  .text-large {
    font-size: 2em;
  }

  .text-xl {
    font-size: 2.5em;
  }
}