/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* html {
    color-scheme: dark light;
} */

/* body {
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
} */

.head1 {
    color: red;
}