:root {
  /** Backgrounds and other colors **/
  --contact-bkg-clr: #252525;
  --nav-bkg-clr: rgba(245, 245, 245, 0.5);
  --menu-container-clr: rgba(245, 245, 245);
  --nav-dropdown-clr: #252525;
  --nav-dropdown-hover: #1d1d1d;
  --boxshadow-clr: rgb(213, 213, 213);
  --footer-bkg: #060606;

  /** Button colors **/
  --main-clr: #fc4c00;
  --main-clr-hover: #d54102;
  --quote-clr: #1D96ED;

  /** Text and smaller colors **/
  --supporting-text: #6B6B6B;
  --heading-clr1: #2EC8FF;
  --heading-clr2: #00a2e1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#service-title {
  color: var(--heading-clr2)
}

section {
  width: 80vw;
  margin: auto;
}

.App {
  text-align: center;
}

.App-header {
  position: sticky;
  top: 0;
}

.logo {
  width: 75px;
  height: 75px;
}

.menu-bars {
  margin-right: .5em;
  font-size: 1.5rem;
}

.dd-desc {
  font-weight: 300;
  line-height: 2;
  margin: 0 auto;
  max-width: 90vw;
}

.learn-btn {
  display: inline-block;
  padding: 0.75rem;
  background-color: var(--main-clr);
  border: none;
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7;
}

.learn-btn:hover {
  background-color: var(--main-clr-hover);
}

.top-learn-btn {
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: 300;
}


.quote-btn {
  display: inline-block;
  padding: 0.75rem;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--main-clr);
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: black;
  font-weight: 300;
  letter-spacing: 0.7;
  transition: 0.5s;
}

.quote-btn:hover {
  background-color: var(--main-clr);
  color: white;
}

.top-quote-btn {
  color: white;
  text-decoration: none;
}

.main-quote-btn {
  margin-bottom: 3rem;
}

/** Navigation CSS **/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  justify-content: space-between;
  background-color: var(--nav-bkg-clr);
}

li span {
  padding: 0 3px 0 2px;
}

.menu-container {
  position: absolute;
  text-align: left;
  margin-top: -2px;
  width: 350px;
  height: 80vh;
  line-height: 2.5;
  background-color: var(--menu-container-clr);
  top: 80px;
  right: 0;
  transition: 0.5s;
}

.main-ul {
  list-style: none;
  padding-left: 0;
}

.sub-ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.menu-li {
  padding-left: 0.5rem;
  cursor: pointer;
}

.sub-menu-li {
  background-color: var(--nav-dropdown-clr);
  padding-left: 1rem;
}

.sub-menu-li:hover {
  background-color: var(--nav-dropdown-hover);
}

.sub-menu-li .menu-link {
  color: white;
}

.menu-link {
  text-decoration: none;
  color: black;
}

/** Home Page Header CSS **/
header h1 {
  margin: 0;
}

.home-header {
  color: white;
}

.title-top {
  margin-top: 0;
  padding-top: 1em;
  font-size: 2.5em;
  font-weight: 300;
  color: var(--heading-clr1);
}

.title-bottom {
  margin-top: -0.75em;
  font-size: 2.5em;
  margin-bottom: 3rem;
  font-weight: 600;
  color: var(--heading-clr2);
}


.cover {
  filter: brightness(50%) grayscale(65%);
  position: absolute;
  top: 0;
  height: 75%;
  width: 100%;
  z-index: -5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

/** Home Page Contact CSS **/
.contact-container {
  background-color: var(--contact-bkg-clr);
  line-height: 2.5;
  color: white;
  width: 90vw;
  margin: 4rem auto;
  padding: 1.2rem;
  border-radius: 1rem;
}

.contact-container h3 {
  text-decoration: underline;
}

.contact-container a {
  color: var(--main-clr);
}

.contact-link {
  color: white;
  margin: 0.25em;
}

/** Home Page Services CSS **/
.popular-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
}

.popular-services-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 1rem;
  margin: 1em 0
}

.popular-services-card h2 {
  margin: 1rem auto 0 auto; 
  letter-spacing: 2; 
  font-weight: 600;
}

.popular-services-card a {
  margin-bottom: 1em;
}

.service-heading-link {
  text-decoration: none;
  color: black;
}

.popular-desc {
  padding: 0 1em;
  position: relative;
}

.popular-img {
  max-width: 100%;
  border-radius: 5px;
}

.checklist {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 300;
  width: 95%;
}

.checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px
}

.checklist-item p {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.checkcircle {
  color: var(--main-clr);
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.price {
  color: var(--supporting-text);
  display: inline-block;
  margin-top: 0;
}

.price span {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  color: var(--main-clr)
}

.service-heading {
  font-size: 1.5em;
  line-height: 1.5;
}

.otherservices-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.otherservices-container h1 {
  font-size: 2em;
  text-decoration: underline;
}

.separator-container {
  background-color: lightgray;
  padding: 2rem 0;
}

.separator-container p {
  margin-top: 0;
  color: var(--supporting-text);
}

.service-title {
  color: var(--heading-clr2);
  margin-bottom: 0;
}

.service-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.service-card h2 {
  margin: 0.25rem auto 0 auto; 
  letter-spacing: 2; 
  font-weight: 600;
}

.card-hr {
  border-top: 1px dashed black;
  border-bottom: none;
  width: 100%;
  margin-left: -6%
}

.secondary-text {
  display: inline-block;
  color: gray;
  padding: 0;
  margin: 0;
}

.secondary-text span {
  color: var(--main-clr);
}

.readmore {
  display: inline-block;
  position: relative;
  bottom: 0;
  margin-top: 0.75rem;
  background-color: var(--main-clr);
  color: white;
  padding: 0.5em 10%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
}

.readmore:hover {
  background-color: var(--main-clr-hover);
}

.readmore p {
  margin: 0;
}

.popular-readmore {
  display: inline-block;
  padding: 0.75em 20%;
  /* position: absolute; */
  bottom: 10px;
  background-color: var(--main-clr);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.popular-readmore:hover {
  background-color: var(--main-clr-hover);
}

.popular-readmore p {
  margin: 0;
}

/** Home Page Review CSS **/
.review-carousel {
  padding: 2em;
  font-size: 1.25rem;
  line-height: 1.75;
  width: 85vw;
  margin: 0 auto;
}

.review-carousel div {
  padding: 1em 0;
}

.reviewer {
  font-size: 1.25em;
  font-weight: bold;
}

/** Footer CSS **/
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--footer-bkg);
  color: white;
}

hr {
  width: 100%;
  margin-top: 1.5em;
}

.footer-content-card {
  margin-left: 1rem;
}

.footer-text {
  color: lightgray;
}

.socials-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials {
  font-size: 2em;
  color: white;
}

.footer-link {
  text-decoration: none;
}

.footer-link p:hover {
  color: gray;
}

/** ABOUT US CSS **/

.about-header {
  color: white;
}

.about-container {
  color: white
}

/** SIDE PAGE CSS **/
.servicepage-heading {
  color: white;
  font-size: 2em;
  padding-top: 25vh;
  margin: 0 auto 50vh auto;
}

.content-container {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0.5rem;
}

.item {
  background-color: var(--contact-bkg-clr);
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5em;
}

.item p {
  display: inline;
  font-weight: 300;
}

.item h3 {
  display: inline;
  margin: 0.5rem;
}

.main-content-container {
  text-align: center;
}

.pricing-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing-card {
  padding: 0.75rem;
  background-color: var(--heading-clr2);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.special-package {
  color: var(--quote-clr);
}

.gallery-container {
  display: flex;
}

.gallery-image {
  width: 450px;
}

/** Media Queries CSS **/

@media screen and (min-width: 450px) {

  .menu-container {
    background-color: rgba(245, 245, 245, 0);
  }
  
  .popular-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .popular-services-card {
    max-width: 350px;
  }

  .otherservices-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .service-card {
    max-width: 350px;
  }

  .contact-container {
    max-width: 500px;
    margin-top: 6rem;
  }

  .list {
    width: 90vw;
    margin: 0 auto;
  }

  .pricing-container {
    flex-direction: row;
  }

  .pricing-card {
    width: 300px;
  }
}

@media screen and (min-width: 880px) {
  body {
    font-size: 1.1em;
  }

  .title-top {
    padding-top: 3rem;
    line-height: 2;
  }

  .title-bottom {
    margin-bottom: 5rem;
    line-height: 2;
  }

  .contact-container {
    margin-top: 5rem;
  }

  .popular-container {
    justify-content: space-around;
  }

  .popular-desc {
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }

  /** Nav CSS **/
  .menu-container {
    display: inline-block !important;
    position: static;
    height: auto;
    width: 75vw;
  }

  .main-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menu-li {
    position: relative;
  }

  .sub-ul {
    position: absolute;
    width: 250px;
    top: 35px;
  }

  .sub-menu-li {
    border-bottom: 1px solid black;
  }

  .menu-bars {
    display: none;
  }
}
