:root {
  --contact-bkg-clr: #252525;
  --nav-bkg-clr: #2525253f;
  --boxshadow-clr: rgb(213, 213, 213);
  --footer-bkg: #060606;

  --learn-more-clr: #fc4c00;
  --quote-clr: #1D96ED;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bkg-clr);
}

section {
  width: 75vw;
  margin: auto
}

.App {
  text-align: center;
}

.logo {
  width: 75px;
  height: 75px;
}

.menu-bars {
  margin-right: .5em;
  font-size: 1.5rem
}

.dd-desc {
  line-height: 2;
}

.learn-btn {
  display: inline-block;
  padding: 0.75rem;
  background-color: var(--learn-more-clr);
  border: none;
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7;
}

.quote-btn {
  display: inline-block;
  padding: 0.75rem;
  background-color: var(--quote-clr);
  border: none;
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7;
}

/** Contact Home Page CSS **/
.contact-container {
  background-color: var(--contact-bkg-clr);
  line-height: 2.5;
  color: white;
  width: 90vw;
  margin:  2rem auto;
  padding: 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
}

.contact-link {
  color: white;
  margin: 0.25em;
}

/** Services CSS **/
.popular-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.popular-services-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 1rem;
  padding: 1em;
  margin: 1em 0
}

.popular-service-title {
  color: var(--quote-clr);
}

.otherservices-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.service-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.readmore {
  display: inline-block;
  padding: 0 0.75em;
  background-color: var(--learn-more-clr);
  border: none;
  border-radius: 0.5rem;
  /* margin: 0.75rem; */
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7;
  text-decoration: none;
}

/** Footer CSS **/
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--footer-bkg);
  color: white;
}

hr {
  width: 100%;
  margin-top: 1.5em;
}

.footer-content-card {
  margin-left: 1rem;
}

.footer-text {
  color: lightgray;
}

.socials-container {
  text-align: center;
}

.socials {
  font-size: 2em;
  margin-bottom: 1rem;
  color: white;
}
