:root {
  /** Backgrounds and other colors **/
  --contact-bkg-clr: #252525;
  --contact-bkg-clr-light: #ECEDF5;
  --nav-bkg-clr: rgba(245, 245, 245, 0.8);
  --menu-container-clr: rgba(245, 245, 245);
  --nav-dropdown-clr: #252525;
  --nav-dropdown-hover: #1d1d1d;
  --boxshadow-clr: rgb(213, 213, 213);
  --footer-bkg: #060606;

  /** Button colors **/
  --main-clr: #fc4c00;
  --main-clr-hover: #d54102;
  --quote-clr: #1D96ED;

  /** Text and smaller colors **/
  --supporting-text: #6B6B6B;
  /* --heading-clr1: #2EC8FF;
  --heading-clr2: #00a2e1; */
  --heading-clr1: #fff;
  --heading-clr2: rgb(185, 185, 185);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  width: 80vw;
  margin: auto;
}

.App {
  text-align: center;
}

.App-header {
  position: sticky;
  top: 0;
}

.subtext {
  margin-top: 0;
  font-weight: 300;
  color: var(--supporting-text)
}

.logo {
  width: 75px;
  height: 75px;
}

.menu-bars {
  margin-right: .5em;
  font-size: 1.5rem;
}

.dd-desc {
  font-weight: 300;
  line-height: 2;
  margin: 0 auto;
  max-width: 90vw;
}

.learn-btn {
  display: inline-block;
  padding: 0.75rem;
  background-color: var(--main-clr);
  border: none;
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
  letter-spacing: 0.7;
}

.learn-btn:hover {
  background-color: var(--main-clr-hover);
}

.top-learn-btn {
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: 300;
}


.quote-btn {
  display: inline-block;
  padding: 0.75rem;
  font-size: 1.5em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--main-clr);
  border-radius: 0.5rem;
  margin: 0.75rem;
  cursor: pointer;
  color: black;
  font-weight: 300;
  letter-spacing: 0.7;
  transition: 0.5s;
}

.quote-btn:hover {
  background-color: var(--main-clr);
  color: white;
}

.top-quote-btn {
  color: white;
}

.main-quote-btn {
  margin-bottom: 3rem;
}

.service-page-quote-btn {
  position: fixed;
  bottom: 1px;
  right: 1px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  z-index: 1;
  background-color: var(--main-clr);
  color: white;
}

/** Navigation CSS **/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  justify-content: space-between;
  background-color: var(--nav-bkg-clr);
}

li span {
  padding: 0 3px 0 2px;
}

.menu-container {
  position: absolute;
  text-align: left;
  margin-top: -2px;
  width: 350px;
  height: 80vh;
  line-height: 2.5;
  background-color: var(--menu-container-clr);
  top: 80px;
  right: 0;
  transition: 0.5s;
}

.main-ul {
  list-style: none;
  padding-left: 0;
}

.sub-ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.menu-li {
  padding-left: 0.5rem;
  cursor: pointer;
}

.sub-menu-li {
  background-color: var(--nav-dropdown-clr);
  padding-left: 1rem;
}

.sub-menu-li:hover {
  background-color: var(--nav-dropdown-hover);
}

.sub-menu-li .menu-link {
  color: white;
}

.menu-link {
  text-decoration: none;
  color: black;
}

/** Home Page Header CSS **/
header h1 {
  margin: 0;
}

.home-header {
  color: white;
}

.title-top {
  margin-top: 0;
  padding-top: 1em;
  font-size: 2.5em;
  font-weight: 300;
  color: var(--heading-clr1);
}

.title-bottom {
  margin-top: -0.75em;
  font-size: 2.5em;
  margin-bottom: 3rem;
  font-weight: 600;
  color: var(--main-clr);
}


.cover {
  filter: brightness(50%) grayscale(65%);
  position: absolute;
  top: 0;
  height: 75%;
  width: 100%;
  z-index: -5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

/** Home Page Contact CSS **/
.contact-container {
  color: black;
  width: 90vw;
  margin: 4rem auto;
}

.contact-container h3 {
  color: var(--main-clr);
  text-decoration: underline;
}

.contact-container-left h2, .contact-container-right h2, .contact-container-left h3 {
  color: var(--main-clr);
  text-decoration: none;
  font-size: 1.5em;
}

.contact-container-left {
  background-color: var(--contact-bkg-clr);
  line-height: 2.5;
  padding: 1.2rem;
  border-radius: 1rem;
  color: white;  
}

.hours-p {
  margin-top: 0;
}

.contact-container-left a {
  color: white;
}

.contact-container-left h2 {
  margin-bottom: 0;
}

.contact-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.contact-icon {
  font-size: 1.5em;
  margin-right: 1rem;
  cursor: pointer;
}

.contact-icon:hover {
  color: black;
  transition: color 0.25s
}

.contact-container-right {
  text-align: center;
  color: black;
}

.contact-container-right a {
  color: black;
}

.form {
  margin: 0 auto;
  text-align: left;
}

.input-label {
  text-align: left;
  margin: 0
}

.text-input {
  padding: 12px 10px;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.select-input {
  padding: 12px 10px;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.checkbox-input {
  display: inline;
}

.textarea-input {
  padding: 6px;
  width: 100%;
  margin-bottom: 1rem;
}

.form-subheading {
  margin: 8px 0; 
  color: var(--supporting-text)
}

.contact-link {
  color: white;
  margin: 0.25em;
}

.location-link {
  line-height: 1.5s
}

/** Home Page Services CSS **/
.popular-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 3rem;
}

.popular-services-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 1rem;
  margin: 1em 0
}

.popular-services-card h2 {
  margin: 1rem auto 0 auto; 
  letter-spacing: 2; 
  font-weight: 600;
}

.popular-services-card a {
  margin-bottom: 1em;
}

.service-heading-link {
  text-decoration: none;
  color: black;
}

.popular-desc {
  padding: 0 1em;
  /* position: relative; */
}

.popular-img {
  max-width: 100%;
  border-radius: 5px;
}

.checklist {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  font-size: 1.1rem;
  font-weight: 300;
  width: 95%;
}

.checklist-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px
}

.checklist-item p {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.checkcircle {
  color: var(--main-clr);
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.price {
  color: var(--supporting-text);
  display: inline-block;
  margin-top: 0;
}

.price span {
  display: inline-block;
  font-weight: 300;
  margin: 0;
  color: var(--main-clr)
}

.service-heading {
  font-size: 1.5em;
  line-height: 1.5;
}

.otherservices-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.otherservices-container h1 {
  font-size: 2em;
  text-decoration: underline;
}

.separator-container {
  background-color: var(--contact-bkg-clr);
  padding: 2rem 0;
}

.separator-container p {
  margin-top: 0;
  color: var(--supporting-text);
}

.service-title {
  color: var(--heading-clr1);
  margin: 30px 0;
}

.service-card {
  box-shadow: 0 0 10px 5px var(--boxshadow-clr);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
}

.service-card h2 {
  margin: 0.25rem auto 0 auto; 
  letter-spacing: 2; 
  font-weight: 600;
}

.card-hr {
  border-top: 1px dashed black;
  border-bottom: none;
  width: 112%;
  margin-left: -6%
}

.secondary-text {
  display: inline-block;
  color: gray;
  padding: 0;
  margin: 0;
}

.secondary-text span {
  color: var(--main-clr);
}

.readmore {
  display: inline-block;
  /* position: relative; */
  bottom: 0;
  margin-top: 0.75rem;
  background-color: var(--main-clr);
  color: white;
  padding: 0.5em 10%;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1rem;
}

.readmore:hover {
  background-color: var(--main-clr-hover);
}

.readmore p {
  margin: 0;
}

.popular-readmore {
  display: inline-block;
  padding: 0.75em 20%;
  bottom: 10px;
  background-color: var(--main-clr);
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.popular-readmore:hover {
  background-color: var(--main-clr-hover);
}

.popular-readmore p {
  margin: 0;
}

/** Home Page Review CSS **/
.reviews-container {
  position: relative;
  z-index: -999;
}

.review-carousel {
  padding: 2em;
  font-size: 1.25rem;
  line-height: 1.75;
  width: 85vw;
  margin: 0 auto;
}

.review-carousel div {
  padding: 1em 0;
}

.reviewer {
  font-size: 1.25em;
  font-weight: bold;
}

/** Footer CSS **/
footer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px 15px 0 15px;
  background-color: var(--contact-bkg-clr);
  color: white;
}

hr {
  width: 100%;
  margin-top: 1.5em;
}

.footer-content-card {
  margin-left: 1rem;
}

.footer-text:hover {
  text-decoration: underline;
}

.footer-text {
  color: lightgray;
}

.socials-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socials {
  font-size: 2em;
  color: white;
}

.footer-link {
  text-decoration: none;
}

.footer-link p:hover {
  color: gray;
}

/** ABOUT US CSS **/

.about-header {
  padding-top: 25vh;
  color: white;
}

.about-container {
  margin-top: 32vh;
  max-width: 80vw;
  color: black;
}

.about-container h2 {
  font-size: 3em;
}

.faq-ul {
  text-align: left;
  letter-spacing: 1.2;
  padding-left: 0;
  margin-bottom: 8vh;
}

.faq-li {
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
}

/** SIDE PAGE CSS **/
.servicepage-header {
  color: var(--heading-clr1);
  font-size: 2em;
  padding-top: 25vh;
  margin: 0 auto 42vh auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5vh;
}

.content-container header {
  color: white;
  margin: 25vh auto;
}

.gallery-link {
  color: var(--main-clr);
}

.service-content-container {
  width: 100%;
}

.list {
  list-style: none;
  padding: 0.5rem;
}

.item {
  background-color: var(--contact-bkg-clr);
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
  border-radius: 0.5em;
}

.step-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-container {
  text-align: left;
}

.step-number {
  display: inline;
  font-size: 2em;
  margin: 0.5rem;
}

.step-title {
  font-size: 1.2em;
  line-height: 1.2;
  margin: 0.5rem 0 0 0;
}

.step-desc{
  display: inline;
  font-weight: 300;
}

.cleaning-process-title {
  margin-top: 0;
}

.vertical-rule {
  display: inline;
  outline: 2px solid white;
  height: 100%;
  margin-right: 10px;
}

.main-content-container {
  text-align: center;
}

.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-aside {
  display: flex;
  flex-direction: column;
  background-color: var(--contact-bkg-clr-light);
  border-radius: 0.5rem;
  margin: 10px auto;
  width: 275px;
  color: black;
  padding: 1rem;
}

.service-link {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  padding: 0.5rem;
  background-color: var(--contact-bkg-clr-light);
  border-radius: 5px;
  color: black;
}

.service-link:hover {
  background-color: #d6d7e1 !important;
  color: var(--main-clr);
}

.pricing-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pricing-title {
  font-size: 2em;
  margin-bottom: 0
}

.pricing-card {
  padding: 0.75rem;
  background-color: var(--contact-bkg-clr-light);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.fullInt-pricing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pricing-outline {
  outline: 2px solid black;
  padding: 5px;
  border-radius: 15px;
}

.addon-title {
  margin: 10px 0 0 0;
}

.bold {
  font-weight: bold;
}

.size {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 0 0.75rem 0;
}

.example-vehicle {
  margin-bottom: 1.75rem;
}

.special-package {
  color: var(--main-clr);
}

.service-checklist {
  background-color: var(--contact-bkg-clr);
  color: white;
  width: 90vw;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0 0 1.2rem 0;
  text-align: left;
}

.service-checklist h4 {
  font-size: 1.2em;
  font-size: 500;
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.checklist-title {
  margin: 0;
  font-size: 1.4em;
  padding: 0.5rem;
  background-color: var(--main-clr);
  color: white;
  width: 100%
  border-radius 1rem 1rem 0 0 
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  cursor: pointer;
  box-shadow: 0 5px 5px 3px gray;
  max-height: 450px;
  margin: 5px;
}

/** Media Queries CSS **/

@media screen and (min-width: 450px) {

  footer {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .popular-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .popular-services-card {
    max-width: 360px;
  }

  .otherservices-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  .service-card {
    max-width: 350px;
  }

  .contact-container {
    margin-top: 6rem;
  }

  .list {
    width: 90vw;
    margin: 0 auto;
  }

  .pricing-container {
    flex-direction: row;
  }

  .pricing-card {
    width: 300px;
  }
}

@media screen and (min-width: 880px) {
  body {
    font-size: 1.1em;
  }

  .menu-container {
    background-color: rgba(245, 245, 245, 0);
  }

  .title-top {
    padding-top: 3rem;
    line-height: 2;
  }

  .title-bottom {
    margin-bottom: 5rem;
    line-height: 2;
  }

  .contact-container {
    display: flex;
    flex: 1 3;
    margin: 10rem auto;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contact-container-left {
    width: 300px;
  }

  .popular-container {
    justify-content: space-around;
  }

  .popular-desc {
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }

  .popular-services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .popular-readmore {
    margin: 0 auto;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .readmore {
    max-width: 50%;
    margin: 0 auto;
  }

  /** Nav CSS **/
  .menu-container {
    display: inline-block !important;
    position: static;
    height: auto;
    width: 75vw;
  }

  .main-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menu-li {
    position: relative;
  }

  .sub-ul {
    position: absolute;
    width: 250px;
    top: 35px;
  }

  .sub-menu-li {
    border-bottom: 1px solid black;
  }

  .menu-bars {
    display: none;
  }

  /** OTHER CSS **/

  .list {
    width: 60vw;
  }

  .content-container {
    margin-top: 10vh
  }

  .main-content-container {
    display: flex;
    flex-direction: column;
  }

  .process-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95vw;
    margin: 0 auto;
  }

  .service-checklist {
    width: 45vw;
  }

}

@media screen and (min-width: 1350px) {

  .popular-img {
    height: 475px;
  }

}

@media screen and (min-width: 1800px) {

  .contact-container {
    margin: 8rem auto
  }
  
}
